!!! 
%html 
%head 
  %title Budget Store | Remembrance !!
  %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
  = csrf_meta_tags
  = csp_meta_tag 
  = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' 
  = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' 
%body 
  %header 
    .header_inner 
      = link_to "Budget Store", root_path, id: "logo"

      %nav 
        - if user_signed_in?
          = link_to "Create a new Document", new_doc_path 
          = link_to "Log Out", destroy_user_session_path, method: :delete

        - else 
          = link_to "Log In", new_user_session_path 

%p.notice= notice 
%p.alert= alert 

= yield 
